.main-container-planet {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
    // background-color: red;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    color: white;
}

.planet-info {
    display: flex;
    flex-flow: column nowrap;
    width: 40%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 20px;
    padding: 10px;
    margin-left: 10px;
}

.planet-model {
    display: flex;
    flex-flow: row nowrap;
    width: 55%;
    height: 85vh;
}

.planet-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 15%;
    font-size: 4vw;
}

.planet-summary {
    display: flex;
    flex-flow: column nowrap;
    white-space: pre-wrap;
    line-height: 30px;
    // background-color: white;
    // color: black;
    // border-radius: 20px;
    // padding: 10px;
    // margin-left: 10px;
    font-size: 20px;
}

sup {
    font-size: 10px;
}

span {
    background-color: purple;
    color: white;
}

.continue-button {
    width: 30%;
    margin-top: 3vh;
    outline: none;
    align-self: center;
}

.modal-screen {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    width: 40%;
    height: 80vh;
    margin-top: 12.5vh;
    margin-left: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    // justify-content: center;
    // align-items: flex-end;
}

.modal-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black;
    border-radius: 20px;
    z-index: 2;
}