// .main-container {
//     background-color: black;
// }

.all-planets {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.sun {
    position: absolute;
    background-color: #FDB813;
}

.solar-system-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    font-size: 5vw;
    align-self: center;

    p {
        margin: 0px;
        padding: 20px 0px;
    }

}

.all-planets  {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-left: 40px;
}

.all-planets-infoBar {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10vh;
    width: 20%;

    p {
        font-size: 3vh;
    }
}

.all-planets-infoName {
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
    justify-content: flex-start;
    align-items: flex-end;
    padding-right: 40px;
    padding-top: 10vh;
}

.planet-object {
    z-index: 10;
}
